{% extends 'iframe_template.html' %}

{# TODO: Determine 'position' of user #}

{% block content %}
  {% if success %}
    <div class="alert alert-success alert-dismissible d-flex flex-wrap align-content-center">
      <i class="bi bi-check-circle-fill success-icon mr-2"></i>
      <p class="mt-0 mb-0">User erfolgreich angelegt</p>
      <button type="button" class="close" data-dismiss="alert">
        <i class="bi bi-x"></i>
      </button>
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    {% include 'forms/bs4_text_form.html' with form=form %}
    <button class="btn btn btn-danger" type="submit">User Erstellen</button>
  </form>
{% endblock %}
