{% extends 'iframe_template.html' %}

{% block title %}Admin Lecturer List{% endblock %}

{% load static %}

{% block content %}
  {% include 'forms/filter_form.html' with filter_form=filter_form %}
  
  {# List (in form of a table #}
  <div class="table-responsive">
    <table class="table table-hover">
      {# table header #}
      <thead class="thead-light">
        <tr>
          <th>E-Mail</th>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Username</th>
          <th>Aktiv</th>
          <th> </th>
        </tr>
      </thead>

      {# table body #}
      <tbody>
        {% for lecturer in page_obj %}
          <tr>
            <td>{{lecturer.email}}</td>
            <td>{{lecturer.first_name}}</td>
            <td>{{lecturer.last_name}}</td>
            <td>{{lecturer.username}}</td>
            <td>
              {# TODO: correct? #}
              {% if lecturer.is_active %}
                <i class="bi bi-check"></i>
              {% else %}
                <i class="bi bi-x"></i>
              {% endif %}
            </td>
            {# edit button #}
            <td>
              <div class="container no-gutters">
                {# Modal to Edit user #}
                {% include 'admin/users/iframes/edit_user_modal.html' with user_edit=lecturer %}
              </div>
            </td>
          </tr>        
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'other/pagination.html' with page_obj=page_obj url_name='lecturerlist_admin_iframe' %}
  <script src="{% static 'JS/iframe_size.js' %}"></script>
{% endblock  %}