{% extends 'iframe_template.html' %}

{% comment %} 
  List of Staff and Admins
{% endcomment %}

{% block title %}Admin Student List{% endblock %}

{% load static %}

{% block content %}
  {# filter form #}
  <div class="card">
    <div class="card-header">Filter</div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% include 'forms/bs4_text_form.html' with form=filter_form %}
        <button class="btn btn btn-danger" type="submit">Filtern</button>
      </form>
    </div>
  </div>
  
  {# List (in form of a table #}
  <div class="table-responsive">
    <table class="table table-hover">
      {# table header #}
      <thead class="thead-light">
        <tr>
          <th>E-Mail</th>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Username</th>
          <th>Admin</th>
          <th>Aktiv</th>
          <th> </th>
        </tr>
      </thead>

      {# table body #}
      <tbody>
        {% for office_user in page_obj %}
          <tr>
            <td>{{office_user.email}}</td>
            <td>{{office_user.first_name}}</td>
            <td>{{office_user.last_name}}</td>
            <td>{{office_user.username}}</td>
            <td>
              {% if office_user.is_superuser %}
                <i class="bi bi-check"></i>
              {% else %}
                <i class="bi bi-x"></i>
              {% endif %}
            </td>
            <td>
              {% if office_user.is_active %}
                <i class="bi bi-check"></i>
              {% else %}
                <i class="bi bi-x"></i>
              {% endif %}
            </td>
            {# edit button #}
            <td>
              <div class="container no-gutters">
                {# Modal to Edit user #}
                {% include 'admin/users/iframes/edit_user_modal.html' with user_edit=office_user %}
              </div>
            </td>
          </tr>        
        {% endfor %}
      </tbody>
    </table>
  </div>

  {# pagination #}
  <ul class="pagination justify-content-center">
    {# previous #}
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{% url 'adminlist_admin_iframe' page=page_obj.previous_page_number %}">{{page_obj.previous_page_number}}</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">-</a>
      </li> 
    {% endif %}

    {# current #}
    <li class="page-item active">
      <a class="page-link" href="#">{{page_obj.number}}</a>
    </li>

    {# next #}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="{% url 'adminlist_admin_iframe' page=page_obj.next_page_number %}">{{page_obj.previous_page_number}}</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">-</a>
      </li>
    {% endif %}
  </ul>
  <script src="{% static 'JS/iframe_size.js' %}"></script>
{% endblock  %}