{% extends 'iframe_template.html' %}

{% load static %}

{% block title %}Admin Student List{% endblock %}

{% block content %}
  {# filter form #}
  <div class="card">
    <div class="card-header">Filter</div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% include 'forms/bs4_text_form.html' with form=filter_form %}
        <button class="btn btn btn-danger" type="submit">Filtern</button>
      </form>
    </div>
  </div>
  
  {# List (in form of a table #}
  <div class="table-responsive">
    <table class="table table-hover">
      {# table header #}
      <thead class="thead-light">
        <tr>
          <th>Matrikel Nr.</th>
          <th>E-Mail</th>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Username</th>
          <th>Aktiv</th>
          <th> </th>
        </tr>
      </thead>

      {# table body #}
      <tbody>
        {% for student in page_obj %}
          <tr>
            <td>{{student.matr_nr}}</td>
            <td>{{student.email}}</td>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.username}}</td>
            <td>
              {% if student.is_active %}
                <i class="bi bi-check"></i>
              {% else %}
                <i class="bi bi-x"></i>
              {% endif %}
            </td>
            {# edit button #}
            <td>
              <div class="container no-gutters">
                {# Modal to Edit user #}
                {% include 'admin/users/iframes/edit_user_modal.html' with user_edit=student %}
              </div>
            </td>
          </tr>        
        {% endfor %}
      </tbody>
    </table>
  </div>

  {# pagination #}
  {% include 'other/pagination.html' with page_obj=page_obj %}

  <script src="{% static 'JS/iframe_size.js' %}"></script>
{% endblock  %}