.input {
    max-width: 400px;
}

.input-group-text {
    width: 40px;
}
.error-icon {
    font-size: 2em;
}
.logo {
    max-height: 80px;
    width: auto;
    border-radius: 4px;
}
.success-icon {
    color: green;
}