{% extends base_template %} 

{% block title %}Aufgabe gelöscht{% endblock %}
{% block site-title %}Aufgabe gelöscht{% endblock %}

{% block content %}
  <div class="ml-md-2" style="max-width: 310px">
    <div class="d-flex justify-content-center">
      <span class="bi bi-check-circle" style="font-size: 7em;"></span>
    </div>
    <div class="d-flex justify-content-center mb-2">
      <h4>Aufgabe erfolgreich gelöscht</h4>
    </div>
    <a href="{% url 'home' %}">
      <button class="btn btn-danger">Home</button>
    </a>
  </div>
{% endblock %} 