{% extends "student/home_student.html" %}
{% load static %}

{% block title %}Aufgabe{% endblock %}
{% block site-title %}Aufgabe{% endblock %}

{% block content %}
  <div>
    <h3>Aufgabe:</h3>
    {% for file in files_lecturer %}   {# list with all files from lecturer #}
      <div>
        <h5>{{file.name}}</h5>
        <a href="{% url 'download' id=file.id %}">
          <button type="button" class="btn btn btn-danger">Herunterladen</button>
        </a>
      </div>
    {% endfor %}
  </div><br>
  <div>
    <h3>Lösungsvorschlag:</h3>
    <iframe src="{% url 'upload_site' id=exersiceID %}" frameborder="0"></iframe>
    <script src="{% static 'JS/iframe_size.js' %}"></script>
    <h5>Abgaben:</h5>
    {% for file in files_student %}   {# list with all files from students #}
      <div> 
        <h5>{{file.name}}</h5>
        <a href="{% url 'download' id=file.id %}">
          <button type="button" class="btn btn btn-danger">Herunterladen</button>
        </a>
      </div>
    {% endfor %}
  </div>

{% endblock %}