.input {
    max-width: 400px;
}

.bg-logoblue {
    background-color: #347fc2 !important;
    color: white !important;
}

.btn-logoblue {
    background-color: #347fc2 !important;
    color: white !important;
}

.btn-logoblue:hover {
    background-color: #2f70a8 !important;
    color: white !important;
}

.input-group-text {
    width: 40px;
}
.error-icon {
    font-size: 1.5em;
}

/* Logo class */
@media screen and (max-width: 575px) {
    .logo { 
        max-height: 30px;
    }
}

@media screen and (min-width: 576px) {
    .logo { 
        max-height: 80px;
    }
}

.logo {
    width: auto;
    border-radius: 4px;
}
.success-icon {
    color: green;
}
