.input {
    max-width: 400px;
}

.input-group-text {
    width: 40px;
}
.error-icon {
    font-size: 2em;
}

/* Logo class */
@media screen and (max-width: 575px) {
    .logo { 
        max-height: 30px;
    }
}

@media screen and (min-width: 576px) {
    .logo { 
        max-height: 80px;
    }
}

.logo {
    width: auto;
    border-radius: 4px;
}
/*  */
