{% extends 'home/home_auth.html' %}

{% block navbar-content %}
  {% include "admin/navbar_content.html" %}
{% endblock %}


{% block content %} 
    <h1> Course view </h1>
    
    {# We get the users object from the backend which is an array of all courses #}
    {# It should be printed as a table with an 'edit' link pointing to /courses/alter/id #}
    {# with id being the primary key of the course #}
    {# delete button to courses/delete/id #}
    
    <div id="accordion" role="tablist">
      {% for student in students %}
              <a>{{student}}</a>
      {% endfor %}
    </div>
    <a> {{lecturer}}</a>
    
{% endblock %}