
{% extends 'base.html' %}


{% block content %} 
    <h1> Course view </h1>
    
    {# we need to find a way to dispay the data in a nice way #}
    
    <div id="accordion" role="tablist">
        <a>students:</a><br>
      {% for student in students %}
              <a>{{student}}</a>
      {% endfor %}
    </div>
    <a>lecturer:</a><br>
    <a> {{lecturer}}</a>

    {% for e in exercise %} 
    <a>exercise:</a><br>
    <a> Deadline: {{e.submission_deadline}}</a><br>
    <a> Description: {{e.description}}</a>
    {# we need to find a way to disply the nested list of files something like file.1.1.id will give the id of the first file connected to exercise 1 #}
    {% endfor %}
    
{% endblock %}