{% extends 'home/home_auth.html' %}

{% block navbar-content %}
  {% include "admin/navbar_content.html" %}
{% endblock %}

{% load static %}

{% block content %} 
    <h1> Courses overview </h1>
    
    {# We get the users object from the backend which is an array of all courses #}
    {# It should be printed as a table with an 'edit' link pointing to /courses/alter/id #}
    {# with id being the primary key of the course #}
    {# delete button to courses/delete/id #}
    
    <div id="accordion" role="tablist">
      {% for course in courses %}
      <div class="card">
        <div class="card-header" role="tab" id="heading_{{course.name}}">
          <h5 class="mb-0">
            <a>
              {{course.name}}
            </a>
            <button type="button" data-toggle="collapse" href="#collapse_{{course.name}}" aria-expanded="false" aria-controls="collapseOne" class="btn btn-danger float-right card-button">\/</button>
          </h5>
        </div>
    
        <div id="collapse_{{course.name}}" class="collapse" role="tabpanel" aria-labelledby="heading_{{course.name}}">
          <div class="card-body" data-src="{% url 'course_studentlist_iframe' name=course.name page=0 %}">
            {# Student list #}
            {# role and aria-labelledby is for schreenreaders #}
            <iframe src="" width="100%" frameborder="0" loading="lazy"></iframe>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    <script src="{% static 'JS/iframe_size.js' %}"></script>
    {% endblock %}