{% extends "base.html" %}

{% block navbar-content %}
<h2>Login</h2>
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="#">Sign up</a> <!-- TODO: make work -->
    </li>
</ul>
{% endblock %}


{% block content %}
<!-- TODO: Rückmeldungen -->
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<!-- Formular -->
<form method="post">
    {% csrf_token %}
    <div class="form-group form-inline">
        <label for="email">{{ form.username.label_tag }}</label>
        <!-- <input type="email" class="form-control" placeholder="Enter E-Mail" id="ema" -->
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="bi bi-person"></i>
                </div>
            </div>
            <input id="id_username" class="form-control" type="text" name="username" autofocus=""
            autocapitalize="none" autocomplete="username" maxlength="150" required="">
        </div>
    </div>

    <div class="form-group form-inline">
        <label for="password">{{form.password.label_tag}}</label>
        <div> {{form.password }} </div>
    </div>

    <button type="submit">Do Stuff</button>
</form>

{% endblock %}