{% extends "base.html" %}

{% block title %}
  Login
{% endblock %}

{% block navbar-content %}
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Sign up</a> {# TODO: make work #}
    </li>
  </ul>
{% endblock %}

{% block site-title %}
  Login
{% endblock %}


{% block content %}
    <form method="post">
    {% csrf_token %}
    
    {% include 'forms/bs4_text_form.html' with form=form %}

    <div class="container-fluid">
      <button class="btn btn-lg btn-danger" type="submit">Login</button>
    </div>
  </form>

{% endblock %}