{% extends 'admin/home_admin.html' %}

{% comment %}
main page of the user administration
{% endcomment %}

{% load static %}

{% block title %}
Userverwaltung
{% endblock %}
{% block site-title %}
Userverwaltung
{% endblock %}

{% block content %}
{# Another Tab-bar to change between students and lecturers and create user #}
<nav class="navbar navbar-expand-sm navbar-dark bg-light">
  {# toggler button #}
  <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#collapsibleGroupBar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar navbar-collapse p-0" id="collapsibleGroupBar">    
    <ul class="nav nav-tabs" id="myTabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tab_studentlist">Studentenliste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab_lecturerlist">Dozentenliste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-toggle="tab" href="#tab_adminlist">Admin- + Mitarbeiterliste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab_createuser">User erstellen</a>
      </li>
    </ul>
  </div>
</nav>

{# Tab content (tap panes) #}
<div class="tab-content h-100">
  {# Student list #}
  {# role and aria-labelledby is for schreenreaders #}
  <div class="tab-pane container-fluid no-gutters active" id="tab_studentlist" role="tabpanel" aria-labelledby="home-tab">
    <iframe src="{% url 'studentlist_admin_iframe' page=1 %}" width="100%" frameborder="0" loading="lazy"></iframe>
  </div>
  {# lecturer list #}
  <div class="tab-pane container-fluid no-gutters" id="tab_lecturerlist" role="tabpanel" aria-labelledby="home-tab"
    data-src="{% url 'lecturerlist_admin_iframe' page=1 %}">
    <iframe src="" width="100%" frameborder="0" loading="lazy"></iframe>
  </div>
  {# admin and staff list#}
  <div class="tab-pane container-fluid no-gutters" id="tab_adminlist" role="tabpanel" aria-labelledby="home-tab"
    data-src="{% url 'adminlist_admin_iframe' page=1 %}">
    <iframe src="" width="100%" frameborder="0" loading="lazy"></iframe>
  </div>
  {# create user #}
  <div class="tab-pane container-fluid no-gutters" id="tab_createuser" role="tabpanel" aria-labelledby="home-tab"
    data-src="{% url 'createofficeuser_admin_iframe' %}">
    <iframe src="" width="100%" frameborder="0" loading="lazy"></iframe>
  </div>
  <script src="{% static 'JS/iframe_size.js' %}"></script>
</div>
{% endblock %}