{% extends 'admin/home_admin.html' %}

{% comment %} 
  main page of the user administration
{% endcomment %}

{% block title %}
  Userverwaltung
{% endblock %}
{% block site-tile %}
  Userverwaltung
{% endblock %}

{% block content %}
  {# Another Tab-bar to change between students and lecturers and create user #}
  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tab_studentlist">Studentenliste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab_lecturerlist">Dozentenliste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab_adminlist">Admin- + Mitarbeiterliste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab_createuser">User erstellen</a>
      </li>
    </ul>
  </nav>

  {# Tab content (tap panes) #}
  <div class="tab-content h-100">
    {# Student list #}
    {# role and aria-labelledby is for schreenreaders #}
    <div class="tab-pane container no-gutters active" id="tab_studentlist" role="tabpanel" aria-labelledby="home-tab">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{% url 'studentlist_admin_iframe' page=0 %}" height=1 frameborder="0" loading="lazy"  ></iframe>
      </div>
    </div>
    {# lecturer list #}
    <div class="tab-pane container no-gutters" id="tab_lecturerlist" role="tabpanel" aria-labelledby="home-tab">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{% url 'lecturerlist_admin_iframe' page=0 %}" style="width: 100%; height: 100%" frameborder="0" loading="lazy"  ></iframe>
      </div>
    </div>
    {# admin and staff list#}
    <div class="tab-pane container no-gutters" id="tab_adminlist" role="tabpanel" aria-labelledby="home-tab">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{% url 'adminlist_admin_iframe' page=0 %}" style="width: 100%; height: 100%" frameborder="0" loading="lazy"  ></iframe>
      </div>
    </div>
    {# create user #}
    <div class="tab-pane container no-gutters" id="tab_createuser" role="tabpanel" aria-labelledby="home-tab">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{% url 'createofficeuser_admin_iframe' %}" frameborder="0" loading="lazy"  ></iframe>
      </div>
    </div>
  </div>
{% endblock %}