{% extends 'iframe_template.html' %}

{% block title %}Course Exercise List{% endblock %}

{% block content %}
  {# Lecturer #}
  <div class="table-responsive">
    <table class="table table-hover">
      <h2>Dozent</h2>
      {# table header #}
      <thead class="thead-light">
        <tr>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Benutzername</th>
        </tr>
      </thead>

      {# table body #}
      <tbody>
          <tr>
            <td>{{lecturer.first_name}}</td>
            <td>{{lecturer.last_name}}</td>
            <td>{{lecturer.username}}</td>
          </tr>       
      </tbody>
    </table>
  </div>

  {# Exercise #}
  <ul class="list-group">
    <div class="table-responsive">
    <table class="table table-hover">
      <h2>Aufgaben</h2>
      {# table header #}
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Abgabetermin</th>
          <th>Beschreibung</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        {% for e in exercise %}
        <tr>
          <td>{{e.id}}</td>
          <td>{{e.submission_deadline}}</td>
          <td>{{e.description}}</td>
          <td>
            {% if user.type == 1 or user.is_superuser %}
              <a target="_top" href="{% url 'exersice_site' id=e.id %}">
            {% else %}
              <a href="{% url 'exersice_site' id=e.id %}">
            {% endif %}
              <button type="button"  class="btn btn-danger float-right">
                Anzeigen
              </button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    {# Students #}
    <div class="table-responsive">
        <table class="table table-hover">
        
        <h2>Studenten</h2>
        {# table header #}
        <thead class="thead-light">
            <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Benutzername</th>
            <th>Matrikel Nr.</th>
            </tr>
        </thead>

        {# table body #}
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student.first_name}}</td>
                <td>{{student.last_name}}</td>
                <td>{{student.username}}</td>
                <td>{{student.matr_nr}}</td>
            </tr>            
            {% endfor %}
        </tbody>
        </table>
    </div> 
{% endblock  %}