{% extends 'iframe_template.html' %}

{% block title %}Course Student List{% endblock %}

{% block content %}
  <h1>Hallo 123</h1>
  <ul class="list-group">
  
  {% for e in exercise %}
    <li class="list-group-item d-flex"> <p class="p-0 m-0 flex-grow-1"> Aufgabe {{e.id} </p>
      <a href="{% url '#' %}">
        <button class="btn-success">Anzeigen</button>  
      </a>
    </li>
    {# we need to find a way to disply the nested list of files something like file.1.1.id will give the id of the first file connected to exercise 1 #}
  {% endfor %}
  </ul>
{% endblock  %}