{% extends 'home/home_auth.html' %}

{% block navbar-content %}
{% include "admin/navbar_content.html" %}
{% endblock %}

<form>
    {% comment %} Button: Zurück zur Übersicht {% endcomment %}
    <button type="button" class="btn btn-link">Zurück</button>
    {% comment %} Textbox: Kurs Name {% endcomment %}
    <div class="form-group">
        <label for="editCourseName">Kurs Name</label>
        <input type="text" class="form-control" id="editCourseName" placeholder="-bisheriger Name-">
    </div>
    {% comment %} Dropdown: Dozentet {% endcomment %}
    <div class="form-group">
        <label for="editCourseLecturer">Dozent</label>
        <select class="form-control" id="editCourseLecturer" placeholder="-bisheriger Dozent-">
            <option>Liste von Dozenten aus Backend</option>
        </select>
    </div>
    {% comment %} Dropdown: Kurs Name {% endcomment %}

    {% comment %} Button: Änderungen Speichern {% endcomment %}
    <button class="btn btn-primary" type="submit">Speichern</button>
</form>