{% comment %} Contains the links in the navbar {% endcomment %}

{% comment %} Variables for convenience {% endcomment %}
{% "id_drop_courses" as id_drop_courses %}
{% "id_drop_groups" as id_drop_groups %}

<nav class="navbar-nav">
  <ul class="navbar-nav">
    {% comment %} Dropdown: Kurse {% endcomment %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="{{id_drop_courses}}" 
        data-toggle="dropdown">
        Kurse
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Kursübersicht</a>
        <a class="dropdown-item" href="#">Kurs anlegen</a>
        <a class="dropdown-item" href="#">Kursgruppe anlegen</a>
      </div>
    </li>
    {% comment %} Dropdown: Gruppen {% endcomment %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="{{id_drop_groups}}" 
        data-toggle="dropdown">
        Gruppen
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Gruppe anlegen</a>
        <a class="dropdown-item" href="#">Kursgruppe anlegen</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Kursübersicht</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Kursübersicht</a>
    </li>
  </ul>
</nav>