{% extends 'iframe_template.html' %}

{% comment %} 
  general template for a create user iframe
{% endcomment %}

{% block content %}
  {# success message #}
  {% if success %}
    <div class="alert alert-success alert-dismissible d-flex flex-wrap align-content-center">
      <i class="bi bi-check-circle-fill success-icon mr-2"></i>
      <p class="mt-0 mb-0">User erfolgreich angelegt</p>
      <button type="button" class="close" data-dismiss="alert">
        <i class="bi bi-x"></i>
      </button>
    </div>
  {% endif %}

  {# dropdown to choose the correct form #}
  {# TODO: same table format as the form#}
	<div class="d-flex flex-wrap ml-2">
		<label class="mr-5" for="usertype_dropdown">Usertyp</label>
		<div class="dropdown" id="usertype_dropdown">
			{% block dropdown_content %}{% endblock %}
		</div>
	</div>

  {# form #}
  <form method="post">
    {% csrf_token %}
    {% include 'forms/bs4_text_form.html' with form=user_form %}
    <button class="btn btn btn-logoblue" type="submit">User Erstellen</button>
  </form>
{% endblock %}