{% comment %} 
  realizes the output of user information,
  after user is created
{% endcomment %}

{% load static %}

<div id="user_information" style="display: none;">
  <h4>User Informationen</h4>
  <table class="table-bordered">
    <tbody>
      {% for field in form.visible_fields %}
        <tr>
          <th>
            {{field.label_tag}}
          </td>
          <td>
            {{field.value}}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <th>
          Passwort
        </td>
        <td>
         {{user_pw}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script src="{% static 'JS/user_data_print.js' %}"></script>