<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block site-title %}
  Home
{% endblock %}

{% block userbar-content %}
  {% if user.is_authenticated %}
    {# Userpic + name #}
    <h2 class="navbar-brand ml-auto">
      {{user.username}}
    </h2>
    <h2 class="navbar-brand ml-md-2"> (Gruppe:
      {% if user.type == 1 or user.is_superuser %}
        Verwaltungsangestellte
      {% elif user.type == 2 %}
        Dozenten
      {% elif user.type == 3 %}
        Studenten
      {% else %}
        unbekannte Usergruppe
      {% endif %}
      )
    </h2>
  {% endif %}
{%endblock%}

{% block content %}
  {# Determine role of the user #}
  Hi, {{user.username}}
{% endblock %}