<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block site-title %}
  Home
{% endblock %}

{% block userbar-content %}
  {% if user.is_authenticated %}
    {# Userpic + name #}
    <h2 class="navbar-brand ml-auto">
      {{user.username}}
    </h2>
    <img class="navbar-brand logo mr-0 p-0 bg-white" src="https://spng.pngfind.com/pngs/s/16-168603_download-login-icon-svg-hd-png-download.png">

    {% comment %} <div class="d-flex ml-auto">
      <h3 class="d-flex flex-wrap align-content-center text-white mr-3">
        {{ user.username }}
      </h3>
      <img class="logo bg-white" src="https://spng.pngfind.com/pngs/s/16-168603_download-login-icon-svg-hd-png-download.png">
    </div> {% endcomment %}
  {% endif %}
{%endblock%}

{% block content %}
  {# Determine role of the user #}
  Hi, {{user.username}}
{% endblock %}